.fadeIn{
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-name: fadeIn;
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fadeInDown{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

@keyframes fadeInDown{
  from{
    opacity: 0;
    transform: translate3d(0,-100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0) ;
  }

}
.fadeInUp{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

@keyframes fadeInUp{
  from{
    opacity: 0;
    transform: translate3d(0,100%,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0) ;
  }

}
.fadeInRight{
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}

@keyframes fadeInRight{
  from{
    opacity: 0;
    transform: translate3d(-100%,0,0);
  }
  to{
    opacity: 1;
    transform: translate3d(0,0,0) ;
  }