/* --------------------------------Fonts */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
       url('../fonts/source-sans-pro-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/source-sans-pro-v13-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* END--------------------------------Fonts */

/* --------------------Variables */
:root{
  /* Color */
  --color-red:#FD6766;
  /* END Color */
}
/* END--------------------Variables */

/* --------------------Layout */
body{
  font-family: 'Source Sans Pro Regular',sans-serif;

}
.grid-container{
  display: grid;
  height: 100vh;
  grid-template-columns: 90px 1fr 200px;
  grid-template-rows: 90px 1fr;
  grid-template-areas:"header header header"
                      "sidebar main main";
}


/* END--------------------Layout */

/*--------------------Header */
.header{
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  grid-template-rows: 100%;
  /* border-bottom: 1px solid #bbb5b5; */
  grid-area: header;
  background-color: white;
  box-sizing: border-box;
  padding: 0 40px;
  align-content: center;
  box-shadow: 0px 0px 2px 1px #bbb5b5;
}
.brand-title{
  display: flex;
  align-items: center;
  
}
.header .brand-title .brand-container{
  width: 35px;
  margin: 0;
}
.header .brand-title .brand-container img{
  width: 100%;
}

.header .brand-title .title{
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 1px var(--color-red);
  margin: 0;
}
.header .searchbar-form{
  display: flex;
  align-items: center;
}
.header .searchbar-form .search-bar{
  
  width: 100%;
  height: 35px;
  border: 1px solid gray;
  border-radius: 10px;
  outline: none;

}
.header .searchbar-form .search-bar::placeholder{
  padding-left: 5px;
}
.header .user{
  display: flex;
  align-items: center;
  /* align-self: center; */
  justify-self: end;
  /* text-align: center; */
  /* width: 100%; */
}

.header .user a{
  display: inline-block;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.header .user .searchbar-icon-contanier
{
  display: none;
}
.header .user .user-name:hover{
  text-decoration: underline;
}
.header .user-image{
  width: 45px;
  margin-left: 10px;
  border-radius: 50%;
}
.fa-sort-down{
  margin-left: 10px;
  font-size: 20px;
}

/* END--------------------Header */
/* --------------------siderbar */
.sidebar{
  /* border: 2px solid red; */
  display: grid;
  align-content: space-between;
  grid-area: sidebar;
  background-color: var(--color-red);
  color: white;
  justify-items: center;
  padding: 2px;
}
.sidebar h2{
  font-weight: lighter;
  font-size: 1em;
}

.up-options, .down-options{
  text-align: center;
}

/* END--------------------sidebar */
/* --------------------MAIN */
.main{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  grid-gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  grid-area:main;
  align-content: center;
  justify-items: center;
  /* border: 2px solid red; */
}
.main div{
  /* border: 1px solid red; */
}
.main .movie img{
  width: 100%;
  vertical-align: middle;
}

.movie{
  align-self: flex-end;
  /* padding: 1px; */
}
.image-description{
  position: relative;
  z-index: 1;
}
.description{
  height: 50%;
  position: absolute;
  padding: 10px;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-red);
  opacity: 0.8;
  color: white;
  overflow: hidden;
  z-index: 2;
}
.description h3{
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  height: auto;
  /* text-align: left; */
}
.main .movie .description:hover{
  cursor: pointer;
  transition: .5s;
  height: 100%;
}


/* END--------------------MAIN */